SUPABASE_URL=https://tzymbxkrlixuiyrbfigv.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR6eW1ieGtybGl4dWl5cmJmaWd2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Njk2MDk5MSwiZXhwIjoyMDkyNTM2OTkxfQ.-BvH8myx7S3oQJM5-KbFQK55XxOTcBaEnKEd3-g7AH8
JWT_SECRET=pon-aqui-un-secreto-largo-y-seguro
CLOUDINARY_CLOUD_NAME=dfhwoz7bq
CLOUDINARY_API_KEY=653654296712121
CLOUDINARY_API_SECRET=NMVI6EsKIn52T4UKZfJhwF8T4oo
CLOUDINARY_UPLOAD_PRESET=wonder
FRONTEND_URL=https://front-wonder.vercel.app
